In [375]:
import pandas as pd
import numpy as np
from metrics_f1 import calc_f1_score

In [376]:
path_train = r"./"

In [377]:
kti = pd.read_parquet(path_train + '/kti_izm.parquet').convert_dtypes()
kti

,wagnum,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
43,1302,1676592000000000000,67638,29.6,29.5,30.0,29.6,30.2,29.9,30.9,29.5,37.8,39.2,39.5,38.9,41.8,38.9,36.5,38.2
60,1374,1677283200000000000,83798,29.1,27.9,27.7,29.1,29.3,30.2,29.4,27.5,48.9,49.0,49.7,51.0,30.7,32.4,30.6,28.8
137,2916,1676937600000000000,121660,30.4,26.5,30.8,28.2,26.9,27.1,29.8,31.2,69.2,66.7,66.8,63.7,66.1,66.3,68.1,67.6
196,3849,1676764800000000000,59664,30.6,29.2,31.6,28.5,31.0,30.7,29.3,30.0,75.1,76.1,74.8,73.7,75.6,76.8,72.2,72.9
197,3849,1676851200000000000,59664,30.9,28.7,32.4,28.1,31.0,29.7,30.5,29.9,75.6,76.8,74.1,74.7,75.8,77.0,74.9,74.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212300,26543,1677542400000000000,18361,29.5,28.2,27.8,29.0,28.2,29.3,29.7,28.9,64.4,65.7,58.8,58.3,50.1,50.1,58.1,57.1
212327,33975,1677542400000000000,13736,25.9,28.5,28.4,28.9,28.1,28.0,28.2,29.5,51.4,51.6,46.5,47.3,52.4,50.9,54.0,56.7
212347,28227,1677542400000000000,154365,26.9,28.5,26.7,28.1,29.0,27.4,29.8,29.0,72.4,72.3,60.2,58.7,69.8,72.1,76.2,78.0
212349,33698,1677542400000000000,39226,29.4,28.3,27.9,27.0,28.0,28.8,26.7,28.9,35.1,36.6,40.1,40.5,46.6,47.0,43.5,41.7
212366,29168,1677542400000000000,17693,29.3,29.0,29.2,29.7,28.0,29.1,29.2,28.7,64.5,64.6,57.4,57.8,58.3,58.1,57.8,57.4

In [378]:
kti['wagnum'].duplicated().sum()

15742

In [379]:
kti.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22428 entries, 43 to 212366
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   wagnum               22428 non-null  Int64
 1   operation_date_dttm  22428 non-null  Int64
 2   mileage_all          22155 non-null  Int64
 3   axl1_l_w_flange      22416 non-null  Float64
 4   axl1_r_w_flange      22409 non-null  Float64
 5   axl2_l_w_flange      22412 non-null  Float64
 6   axl2_r_w_flange      22408 non-null  Float64
 7   axl3_l_w_flange      22411 non-null  Float64
 8   axl3_r_w_flange      22407 non-null  Float64
 9   axl4_l_w_flange      22413 non-null  Float64
 10  axl4_r_w_flange      22416 non-null  Float64
 11  axl1_l_w_rim         22287 non-null  Float64
 12  axl1_r_w_rim         22296 non-null  Float64
 13  axl2_l_w_rim         22293 non-null  Float64
 14  axl2_r_w_rim         22292 non-null  Float64
 15  axl3_l_w_rim         22251 non-null  Float64
 16  axl3_r_w_rim         22273 non-null  Float64
 17  axl4_l_w_rim         22306 non-null  Float64
 18  axl4_r_w_rim         22318 non-null  Float64
dtypes: Float64(16), Int64(3)
memory usage: 3.8 MB

In [380]:
kti.isna().sum()

wagnum                   0
operation_date_dttm      0
mileage_all            273
axl1_l_w_flange         12
axl1_r_w_flange         19
axl2_l_w_flange         16
axl2_r_w_flange         20
axl3_l_w_flange         17
axl3_r_w_flange         21
axl4_l_w_flange         15
axl4_r_w_flange         12
axl1_l_w_rim           141
axl1_r_w_rim           132
axl2_l_w_rim           135
axl2_r_w_rim           136
axl3_l_w_rim           177
axl3_r_w_rim           155
axl4_l_w_rim           122
axl4_r_w_rim           110
dtype: int64

In [381]:
kti.describe()

,wagnum,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
count,22428.0,22428.0,22155.0,22416.0,22409.0,22412.0,22408.0,22411.0,22407.0,22413.0,22416.0,22287.0,22296.0,22293.0,22292.0,22251.0,22273.0,22306.0,22318.0
mean,19683.387462,1676382229213483264.0,73033.907967,29.125397,29.094069,29.135227,29.175473,29.085556,29.050886,29.204078,29.22972,61.914233,61.904517,60.934675,60.933617,60.857292,60.833345,61.85672,61.822605
std,8668.476126,693326779298846.625,50476.484761,1.666071,1.674003,1.711203,1.683929,1.666508,1.690736,1.709619,1.678164,11.347351,11.364116,11.743708,11.724126,11.792706,11.773329,11.384352,11.367269
min,0.0,1675209600000000000.0,1.0,23.5,23.4,23.7,23.8,23.9,21.8,23.4,23.8,25.2,22.8,23.8,23.3,25.3,23.6,24.8,23.5
25%,13734.0,1675814400000000000.0,25866.5,28.0,28.0,28.0,28.1,28.0,27.9,28.1,28.1,55.2,55.3,53.7,53.8,53.5,53.6,54.9,55.0
50%,21468.5,1676419200000000000.0,69234.0,29.1,29.0,29.1,29.1,29.0,29.0,29.2,29.2,64.3,64.3,62.9,62.9,62.7,62.7,64.1,64.1
75%,26323.25,1677024000000000000.0,116205.5,30.1,30.1,30.2,30.2,30.1,30.1,30.3,30.3,71.5,71.5,70.9,70.7,71.0,70.9,71.7,71.6
max,33975.0,1677542400000000000.0,497856.0,34.0,34.0,34.0,34.0,34.0,34.0,33.9,34.0,79.9,80.0,80.3,80.1,80.2,79.9,80.7,79.9

In [382]:
before = len(kti)
kti = kti.dropna(subset=['wagnum', 'operation_date_dttm'])
after = len(kti)
before - after

0

In [383]:
kti['mileage_all'].fillna(round(kti['mileage_all'].mean()), inplace=True)

In [384]:
float_columns = kti.select_dtypes(include='float').columns

for col in float_columns:
    kti[col].fillna(kti[col].mean(), inplace=True)

In [385]:
kti.isna().sum()

wagnum                 0
operation_date_dttm    0
mileage_all            0
axl1_l_w_flange        0
axl1_r_w_flange        0
axl2_l_w_flange        0
axl2_r_w_flange        0
axl3_l_w_flange        0
axl3_r_w_flange        0
axl4_l_w_flange        0
axl4_r_w_flange        0
axl1_l_w_rim           0
axl1_r_w_rim           0
axl2_l_w_rim           0
axl2_r_w_rim           0
axl3_l_w_rim           0
axl3_r_w_rim           0
axl4_l_w_rim           0
axl4_r_w_rim           0
dtype: int64

No duplicates

In [386]:
kti[kti.duplicated()]

Empty DataFrame
Columns: [wagnum, operation_date_dttm, mileage_all, axl1_l_w_flange, axl1_r_w_flange, axl2_l_w_flange, axl2_r_w_flange, axl3_l_w_flange, axl3_r_w_flange, axl4_l_w_flange, axl4_r_w_flange, axl1_l_w_rim, axl1_r_w_rim, axl2_l_w_rim, axl2_r_w_rim, axl3_l_w_rim, axl3_r_w_rim, axl4_l_w_rim, axl4_r_w_rim]
Index: []

No duplicate measure one wagon in same time

In [387]:
duplicates = kti[kti.duplicated(subset=['wagnum', 'operation_date_dttm'])]
duplicates

Empty DataFrame
Columns: [wagnum, operation_date_dttm, mileage_all, axl1_l_w_flange, axl1_r_w_flange, axl2_l_w_flange, axl2_r_w_flange, axl3_l_w_flange, axl3_r_w_flange, axl4_l_w_flange, axl4_r_w_flange, axl1_l_w_rim, axl1_r_w_rim, axl2_l_w_rim, axl2_r_w_rim, axl3_l_w_rim, axl3_r_w_rim, axl4_l_w_rim, axl4_r_w_rim]
Index: []

How many times measured each wagon

In [388]:
kti.groupby('wagnum')['operation_date_dttm'].count().describe()

count    6686.000000
mean        3.354472
std         2.194298
min         1.000000
25%         2.000000
50%         3.000000
75%         5.000000
max        14.000000
Name: operation_date_dttm, dtype: float64

In [389]:
kti['operation_date_dttm'] = kti['operation_date_dttm'].apply(lambda x: x // 10**9)

In [390]:
kti

,wagnum,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
43,1302,1676592000,67638,29.6,29.5,30.0,29.6,30.2,29.9,30.9,29.5,37.8,39.2,39.5,38.9,41.8,38.9,36.5,38.2
60,1374,1677283200,83798,29.1,27.9,27.7,29.1,29.3,30.2,29.4,27.5,48.9,49.0,49.7,51.0,30.7,32.4,30.6,28.8
137,2916,1676937600,121660,30.4,26.5,30.8,28.2,26.9,27.1,29.8,31.2,69.2,66.7,66.8,63.7,66.1,66.3,68.1,67.6
196,3849,1676764800,59664,30.6,29.2,31.6,28.5,31.0,30.7,29.3,30.0,75.1,76.1,74.8,73.7,75.6,76.8,72.2,72.9
197,3849,1676851200,59664,30.9,28.7,32.4,28.1,31.0,29.7,30.5,29.9,75.6,76.8,74.1,74.7,75.8,77.0,74.9,74.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212300,26543,1677542400,18361,29.5,28.2,27.8,29.0,28.2,29.3,29.7,28.9,64.4,65.7,58.8,58.3,50.1,50.1,58.1,57.1
212327,33975,1677542400,13736,25.9,28.5,28.4,28.9,28.1,28.0,28.2,29.5,51.4,51.6,46.5,47.3,52.4,50.9,54.0,56.7
212347,28227,1677542400,154365,26.9,28.5,26.7,28.1,29.0,27.4,29.8,29.0,72.4,72.3,60.2,58.7,69.8,72.1,76.2,78.0
212349,33698,1677542400,39226,29.4,28.3,27.9,27.0,28.0,28.8,26.7,28.9,35.1,36.6,40.1,40.5,46.6,47.0,43.5,41.7
212366,29168,1677542400,17693,29.3,29.0,29.2,29.7,28.0,29.1,29.2,28.7,64.5,64.6,57.4,57.8,58.3,58.1,57.8,57.4

In [391]:
from datetime import datetime
time_of_measure = np.vectorize(lambda x: (x, datetime.utcfromtimestamp(x)))(np.unique(kti['operation_date_dttm']))
time_of_measure

(array([1675209600, 1675296000, 1675382400, 1675468800, 1675555200,
        1675641600, 1675728000, 1675814400, 1675900800, 1675987200,
        1676073600, 1676160000, 1676246400, 1676332800, 1676419200,
        1676505600, 1676592000, 1676678400, 1676764800, 1676851200,
        1676937600, 1677024000, 1677110400, 1677196800, 1677283200,
        1677369600, 1677456000, 1677542400]),
 array([datetime.datetime(2023, 2, 1, 0, 0),
        datetime.datetime(2023, 2, 2, 0, 0),
        datetime.datetime(2023, 2, 3, 0, 0),
        datetime.datetime(2023, 2, 4, 0, 0),
        datetime.datetime(2023, 2, 5, 0, 0),
        datetime.datetime(2023, 2, 6, 0, 0),
        datetime.datetime(2023, 2, 7, 0, 0),
        datetime.datetime(2023, 2, 8, 0, 0),
        datetime.datetime(2023, 2, 9, 0, 0),
        datetime.datetime(2023, 2, 10, 0, 0),
        datetime.datetime(2023, 2, 11, 0, 0),
        datetime.datetime(2023, 2, 12, 0, 0),
        datetime.datetime(2023, 2, 13, 0, 0),
        datetime.datetime(2023, 2, 14, 0, 0),
        datetime.datetime(2023, 2, 15, 0, 0),
        datetime.datetime(2023, 2, 16, 0, 0),
        datetime.datetime(2023, 2, 17, 0, 0),
        datetime.datetime(2023, 2, 18, 0, 0),
        datetime.datetime(2023, 2, 19, 0, 0),
        datetime.datetime(2023, 2, 20, 0, 0),
        datetime.datetime(2023, 2, 21, 0, 0),
        datetime.datetime(2023, 2, 22, 0, 0),
        datetime.datetime(2023, 2, 23, 0, 0),
        datetime.datetime(2023, 2, 24, 0, 0),
        datetime.datetime(2023, 2, 25, 0, 0),
        datetime.datetime(2023, 2, 26, 0, 0),
        datetime.datetime(2023, 2, 27, 0, 0),
        datetime.datetime(2023, 2, 28, 0, 0)], dtype=object))

In [392]:
train = pd.read_csv(path_train +'/target/y_train.csv').convert_dtypes()
train

        wagnum       month  target_month  target_day
0        33361  2023-01-01             0           0
1        33364  2023-01-01             0           0
2        33366  2023-01-01             0           0
3        33358  2023-01-01             0           0
4        33349  2023-01-01             0           0
...        ...         ...           ...         ...
203848   25045  2022-12-01             0           0
203849   27156  2022-12-01             0           0
203850   21361  2022-12-01             0           0
203851    8061  2022-12-01             0           0
203852   33350  2022-12-01             1           0

[203853 rows x 4 columns]

In [393]:
from datetime import datetime
import pytz

def date_to_timestamp(date_string: str) -> int:
    date = datetime.strptime(date_string, '%Y-%m-%d')
    utc = pytz.UTC
    date_utc = utc.localize(date)
    timestamp_seconds = int(date_utc.timestamp())
    return timestamp_seconds

def timestamp_to_date(timestamp: int) -> str:
    date = datetime.utcfromtimestamp(timestamp)
    date_string = date.strftime('%Y-%m-%d')
    return date_string

date_to_timestamp('2023-02-01'), timestamp_to_date(1675209600)

(1675209600, '2023-02-01')

In [394]:
train['month'] = train['month'].apply(date_to_timestamp)
train

        wagnum       month  target_month  target_day
0        33361  1672531200             0           0
1        33364  1672531200             0           0
2        33366  1672531200             0           0
3        33358  1672531200             0           0
4        33349  1672531200             0           0
...        ...         ...           ...         ...
203848   25045  1669852800             0           0
203849   27156  1669852800             0           0
203850   21361  1669852800             0           0
203851    8061  1669852800             0           0
203852   33350  1669852800             1           0

[203853 rows x 4 columns]

In [396]:
train_time_of_measure = np.vectorize(lambda x: (x, datetime.utcfromtimestamp(x)))(np.unique(train['month']))
train_time_of_measure

(array([1659312000, 1661990400, 1664582400, 1667260800, 1669852800,
        1672531200]),
 array([datetime.datetime(2022, 8, 1, 0, 0),
        datetime.datetime(2022, 9, 1, 0, 0),
        datetime.datetime(2022, 10, 1, 0, 0),
        datetime.datetime(2022, 11, 1, 0, 0),
        datetime.datetime(2022, 12, 1, 0, 0),
        datetime.datetime(2023, 1, 1, 0, 0)], dtype=object))

In [395]:
combined_train = pd.merge(train, kti, on='wagnum', how='inner')
combined_train

,wagnum,month,target_month,target_day,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,...,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
0,33361,1672531200,0,0,1675209600,9415,28.4,28.7,32.0,31.8,...,27.2,30.8,60.2,60.6,65.2,63.6,58.2,58.5,57.2,56.6
1,33361,1672531200,0,0,1675555200,11662,29.1,28.8,32.2,32.2,...,28.2,30.4,58.2,60.8,63.7,64.1,56.3,54.7,55.6,55.1
2,33361,1672531200,0,0,1676419200,13256,28.0,28.6,31.6,32.5,...,27.1,30.3,60.9,59.6,65.6,63.9,57.7,56.2,56.4,54.2
3,33361,1672531200,0,0,1676592000,14925,27.8,28.5,31.9,32.0,...,26.8,31.3,60.9,60.5,65.4,63.2,57.7,55.2,55.9,54.4
4,33361,1672531200,0,0,1676678400,15597,28.6,29.3,32.3,32.3,...,27.4,30.5,60.2,60.0,64.0,64.3,57.8,57.2,55.3,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134563,21361,1667260800,0,0,1676937600,35560,29.4,28.4,27.8,30.0,...,28.8,29.2,66.5,68.3,63.5,63.6,58.0,56.4,58.0,58.9
134564,21361,1669852800,0,0,1675900800,31714,30.2,29.0,28.1,30.2,...,29.0,28.9,67.4,66.2,65.3,63.7,57.4,57.3,58.7,57.6
134565,21361,1669852800,0,0,1676073600,32714,30.8,29.0,28.4,30.3,...,30.0,29.0,65.9,67.1,63.7,63.0,56.2,55.6,58.5,57.3
134566,21361,1669852800,0,0,1676678400,34008,29.5,29.0,28.0,29.6,...,29.5,28.7,65.9,68.9,63.2,65.0,55.8,57.2,57.1,58.1
134567,21361,1669852800,0,0,1676937600,35560,29.4,28.4,27.8,30.0,...,28.8,29.2,66.5,68.3,63.5,63.6,58.0,56.4,58.0,58.9

In [353]:
combined_train = combined_train[combined_train['operation_date_dttm'] <= combined_train['month']]
combined_train

Empty DataFrame
Columns: [wagnum, month, target_month, target_day, operation_date_dttm, mileage_all, axl1_l_w_flange, axl1_r_w_flange, axl2_l_w_flange, axl2_r_w_flange, axl3_l_w_flange, axl3_r_w_flange, axl4_l_w_flange, axl4_r_w_flange, axl1_l_w_rim, axl1_r_w_rim, axl2_l_w_rim, axl2_r_w_rim, axl3_l_w_rim, axl3_r_w_rim, axl4_l_w_rim, axl4_r_w_rim]
Index: []

[0 rows x 22 columns]

In [212]:
y = combined_train[['target_month', 'target_day']]
X = combined_train.drop(['target_month', 'target_day'], axis=1)
X

,wagnum,month,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
0,33361,1672531200,1675209600,9415,28.4,28.7,32.0,31.8,29.3,29.1,27.2,30.8,60.2,60.6,65.2,63.6,58.2,58.5,57.2,56.6
1,33361,1672531200,1675555200,11662,29.1,28.8,32.2,32.2,29.6,29.2,28.2,30.4,58.2,60.8,63.7,64.1,56.3,54.7,55.6,55.1
2,33361,1672531200,1676419200,13256,28.0,28.6,31.6,32.5,28.5,29.3,27.1,30.3,60.9,59.6,65.6,63.9,57.7,56.2,56.4,54.2
3,33361,1672531200,1676592000,14925,27.8,28.5,31.9,32.0,29.0,29.0,26.8,31.3,60.9,60.5,65.4,63.2,57.7,55.2,55.9,54.4
4,33361,1672531200,1676678400,15597,28.6,29.3,32.3,32.3,29.1,29.3,27.4,30.5,60.2,60.0,64.0,64.3,57.8,57.2,55.3,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134563,21361,1667260800,1676937600,35560,29.4,28.4,27.8,30.0,26.4,27.7,28.8,29.2,66.5,68.3,63.5,63.6,58.0,56.4,58.0,58.9
134564,21361,1669852800,1675900800,31714,30.2,29.0,28.1,30.2,27.0,28.8,29.0,28.9,67.4,66.2,65.3,63.7,57.4,57.3,58.7,57.6
134565,21361,1669852800,1676073600,32714,30.8,29.0,28.4,30.3,28.1,28.6,30.0,29.0,65.9,67.1,63.7,63.0,56.2,55.6,58.5,57.3
134566,21361,1669852800,1676678400,34008,29.5,29.0,28.0,29.6,27.1,28.5,29.5,28.7,65.9,68.9,63.2,65.0,55.8,57.2,57.1,58.1
134567,21361,1669852800,1676937600,35560,29.4,28.4,27.8,30.0,26.4,27.7,28.8,29.2,66.5,68.3,63.5,63.6,58.0,56.4,58.0,58.9

In [53]:
len(np.unique(train['wagnum'])), len(train['wagnum'])

(33977, 203853)