In [75]:
import pandas as pd
import numpy as np
from metrics_f1 import calc_f1_score

In [76]:
path_train = r"./"

In [77]:
kti = pd.read_parquet(path_train + '/kti_izm.parquet').convert_dtypes()
kti

,wagnum,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
0,325,1659312000000000000,112091,30.5,31.0,26.7,27.4,28.8,28.6,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
1,325,1659484800000000000,112471,30.4,31.4,27.5,27.6,28.9,29.0,25.5,27.8,65.7,65.8,65.7,63.7,61.6,61.4,67.4,69.3
2,325,1659657600000000000,113938,30.0,31.1,27.1,27.9,28.5,28.9,26.2,27.6,70.8,69.5,65.1,65.6,62.2,60.7,65.7,69.6
3,325,1663200000000000000,121071,30.5,31.4,26.4,27.3,28.9,28.4,24.9,28.0,70.2,68.1,67.4,65.8,62.3,63.0,70.9,70.3
4,325,1662681600000000000,117341,30.7,31.5,26.9,27.1,28.9,28.5,25.5,27.5,68.1,64.1,64.5,64.9,61.6,61.1,68.7,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194723,28221,1675123200000000000,27116,28.4,31.4,29.0,29.2,27.0,28.3,28.7,28.5,67.8,65.7,67.0,67.4,53.9,53.2,54.1,54.2
194752,29023,1675123200000000000,1911,29.7,28.6,29.6,30.2,27.9,30.3,30.0,29.3,<NA>,58.3,55.2,55.9,58.3,58.7,59.5,61.0
194780,33124,1675123200000000000,118504,28.7,29.3,32.8,28.2,29.7,29.4,28.8,29.1,54.4,52.7,54.4,50.5,56.7,54.4,60.7,56.2
194825,28089,1675123200000000000,22183,28.4,28.3,29.3,28.6,28.8,28.0,27.4,29.7,42.0,40.1,40.9,39.0,39.2,38.8,40.3,40.2
194859,28090,1675123200000000000,158013,28.7,26.6,28.0,28.7,29.8,30.7,31.1,28.1,59.3,61.2,64.5,65.4,70.9,71.8,72.1,73.5

In [78]:
kti['wagnum'].duplicated().sum()

61138

In [79]:
kti.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67967 entries, 0 to 194859
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   wagnum               67967 non-null  Int64
 1   operation_date_dttm  67967 non-null  Int64
 2   mileage_all          67181 non-null  Int64
 3   axl1_l_w_flange      67944 non-null  Float64
 4   axl1_r_w_flange      67923 non-null  Float64
 5   axl2_l_w_flange      67943 non-null  Float64
 6   axl2_r_w_flange      67932 non-null  Float64
 7   axl3_l_w_flange      67939 non-null  Float64
 8   axl3_r_w_flange      67925 non-null  Float64
 9   axl4_l_w_flange      67947 non-null  Float64
 10  axl4_r_w_flange      67928 non-null  Float64
 11  axl1_l_w_rim         67700 non-null  Float64
 12  axl1_r_w_rim         67690 non-null  Float64
 13  axl2_l_w_rim         67692 non-null  Float64
 14  axl2_r_w_rim         67641 non-null  Float64
 15  axl3_l_w_rim         67664 non-null  Float64
 16  axl3_r_w_rim         67657 non-null  Float64
 17  axl4_l_w_rim         67735 non-null  Float64
 18  axl4_r_w_rim         67698 non-null  Float64
dtypes: Float64(16), Int64(3)
memory usage: 11.6 MB

In [80]:
kti.isna().sum()

wagnum                   0
operation_date_dttm      0
mileage_all            786
axl1_l_w_flange         23
axl1_r_w_flange         44
axl2_l_w_flange         24
axl2_r_w_flange         35
axl3_l_w_flange         28
axl3_r_w_flange         42
axl4_l_w_flange         20
axl4_r_w_flange         39
axl1_l_w_rim           267
axl1_r_w_rim           277
axl2_l_w_rim           275
axl2_r_w_rim           326
axl3_l_w_rim           303
axl3_r_w_rim           310
axl4_l_w_rim           232
axl4_r_w_rim           269
dtype: int64

In [81]:
kti.describe()

,wagnum,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
count,67967.0,67967.0,67181.0,67944.0,67923.0,67943.0,67932.0,67939.0,67925.0,67947.0,67928.0,67700.0,67690.0,67692.0,67641.0,67664.0,67657.0,67735.0,67698.0
mean,19463.14485,1669577062892285696.0,80535.537339,29.088873,29.063021,29.081824,29.15218,29.081776,29.011499,29.166353,29.218642,62.373331,62.386428,61.318671,61.344268,61.346119,61.35398,62.379559,62.3867
std,8483.694967,3936520390769950.0,51702.931006,1.697512,1.692133,1.748809,1.702378,1.682259,1.703095,1.751426,1.717131,11.743295,11.758777,12.252867,12.2455,12.216723,12.207942,11.728182,11.720656
min,0.0,1659312000000000000.0,1.0,23.4,23.0,23.1,22.7,23.4,23.1,23.3,22.9,23.6,23.9,20.7,23.7,23.2,23.7,24.1,24.0
25%,13758.0,1666828800000000000.0,32049.0,27.9,27.9,27.9,28.0,27.9,27.9,28.0,28.1,55.8,55.8,54.0,54.0,54.1,54.1,55.7,55.7
50%,19571.0,1670198400000000000.0,82117.0,29.0,29.0,29.0,29.1,29.0,29.0,29.1,29.2,65.1,65.1,63.8,63.8,63.8,63.8,65.2,65.2
75%,25513.0,1672790400000000000.0,127253.0,30.2,30.1,30.2,30.2,30.2,30.1,30.3,30.3,72.5,72.6,72.3,72.2,72.3,72.3,72.5,72.5
max,33973.0,1675123200000000000.0,504146.0,34.0,34.0,33.9,34.0,34.0,34.0,34.0,34.0,80.7,80.4,80.0,80.0,80.0,80.0,80.0,80.0

Drop rows if we don't have any info about the wagnum(иначе какому вагону предсказывать) or date of measure kti(измерение может быть уже не актуальным или в будущем для трейна)

In [82]:
before = len(kti)
kti = kti.dropna(subset=['wagnum', 'operation_date_dttm'])
after = len(kti)
before - after

0

общий пробег заменим средним

In [83]:
kti['mileage_all'].fillna(round(kti['mileage_all'].mean()), inplace=True)

для всех остальных тоже заменим средним

In [84]:
float_columns = kti.select_dtypes(include='float').columns

for col in float_columns:
    kti[col].fillna(kti[col].mean(), inplace=True)

In [85]:
kti.isna().sum()

wagnum                 0
operation_date_dttm    0
mileage_all            0
axl1_l_w_flange        0
axl1_r_w_flange        0
axl2_l_w_flange        0
axl2_r_w_flange        0
axl3_l_w_flange        0
axl3_r_w_flange        0
axl4_l_w_flange        0
axl4_r_w_flange        0
axl1_l_w_rim           0
axl1_r_w_rim           0
axl2_l_w_rim           0
axl2_r_w_rim           0
axl3_l_w_rim           0
axl3_r_w_rim           0
axl4_l_w_rim           0
axl4_r_w_rim           0
dtype: int64

No duplicates

In [86]:
kti[kti.duplicated()]

Empty DataFrame
Columns: [wagnum, operation_date_dttm, mileage_all, axl1_l_w_flange, axl1_r_w_flange, axl2_l_w_flange, axl2_r_w_flange, axl3_l_w_flange, axl3_r_w_flange, axl4_l_w_flange, axl4_r_w_flange, axl1_l_w_rim, axl1_r_w_rim, axl2_l_w_rim, axl2_r_w_rim, axl3_l_w_rim, axl3_r_w_rim, axl4_l_w_rim, axl4_r_w_rim]
Index: []

No duplicate measures same wagon in same time

In [87]:
duplicates = kti[kti.duplicated(subset=['wagnum', 'operation_date_dttm'])]
duplicates

Empty DataFrame
Columns: [wagnum, operation_date_dttm, mileage_all, axl1_l_w_flange, axl1_r_w_flange, axl2_l_w_flange, axl2_r_w_flange, axl3_l_w_flange, axl3_r_w_flange, axl4_l_w_flange, axl4_r_w_flange, axl1_l_w_rim, axl1_r_w_rim, axl2_l_w_rim, axl2_r_w_rim, axl3_l_w_rim, axl3_r_w_rim, axl4_l_w_rim, axl4_r_w_rim]
Index: []

How many times measured each wagon

In [88]:
kti.groupby('wagnum')['operation_date_dttm'].count().describe()

count    6829.000000
mean        9.952702
std         6.916479
min         1.000000
25%         4.000000
50%         9.000000
75%        14.000000
max        46.000000
Name: operation_date_dttm, dtype: float64

nanosecond -> seconds

In [89]:
kti['operation_date_dttm'] = kti['operation_date_dttm'].apply(lambda x: x // 10**9)

In [90]:
grouped_by_wagnum = kti.groupby('wagnum')

In [95]:
dataframe_group = None

for key, group in grouped_by_wagnum:
    dataframe_group = group
    break

dataframe_group = dataframe_group.sort_values(by='operation_date_dttm')
dataframe_group

,wagnum,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
109258,0,1667174400,91119,26.8,27.9,25.5,26.2,27.3,26.2,26.9,27.5,48.0,49.4,42.6,45.6,42.5,44.4,42.9,47.2
109259,0,1667260800,91119,26.9,28.2,24.7,26.6,27.8,26.2,26.8,27.5,46.4,49.6,44.3,46.7,43.1,44.1,43.9,47.3
109260,0,1668902400,95765,27.2,28.4,25.2,26.2,27.4,26.2,27.1,27.8,46.4,47.3,43.4,45.6,42.8,42.9,41.8,43.9
109261,0,1671580800,97300,26.7,27.8,27.9,27.1,32.9,28.9,30.7,31.0,48.7,48.0,44.8,45.0,30.8,31.8,39.7,39.8
109262,0,1671753600,98318,26.7,28.2,27.8,27.2,31.8,29.1,30.7,31.5,48.3,46.7,46.3,43.5,30.2,28.2,38.8,38.1
109263,0,1672099200,100204,26.9,28.5,27.4,26.8,31.3,29.4,30.3,31.2,48.9,48.1,45.2,44.7,29.0,28.0,37.7,39.6
109264,0,1672185600,100972,26.3,28.1,27.7,26.5,31.4,28.7,29.6,30.6,48.7,46.9,43.6,42.8,28.6,29.1,38.4,39.0
109265,0,1672272000,101432,26.8,28.4,27.6,26.4,32.2,29.7,29.8,30.8,47.7,48.5,44.0,42.8,29.3,26.5,38.4,38.4
109266,0,1673568000,106028,26.8,28.4,27.8,26.9,31.8,29.5,30.1,30.9,47.9,48.7,42.6,43.8,29.6,30.1,37.1,39.2

In [18]:
kti.to_csv('../preprocessed/kti.csv')

In [19]:
from datetime import datetime
time_of_measure = np.vectorize(lambda x: (x, datetime.utcfromtimestamp(x)))(np.unique(kti['operation_date_dttm']))
time_of_measure

(array([1659312000, 1659398400, 1659484800, 1659571200, 1659657600,
        1659744000, 1659830400, 1659916800, 1660003200, 1660089600,
        1660176000, 1660262400, 1660348800, 1660435200, 1660521600,
        1660608000, 1660694400, 1660780800, 1660867200, 1660953600,
        1661040000, 1661126400, 1661212800, 1661299200, 1661385600,
        1661472000, 1661558400, 1661644800, 1661731200, 1661817600,
        1661904000, 1661990400, 1662076800, 1662163200, 1662249600,
        1662336000, 1662422400, 1662508800, 1662595200, 1662681600,
        1662768000, 1662854400, 1662940800, 1663027200, 1663113600,
        1663200000, 1663286400, 1663372800, 1663459200, 1663545600,
        1663632000, 1663718400, 1663804800, 1663891200, 1663977600,
        1664064000, 1664150400, 1664236800, 1664323200, 1664409600,
        1664496000, 1664582400, 1664668800, 1664755200, 1664841600,
        1664928000, 1665014400, 1665100800, 1665187200, 1665273600,
        1665360000, 1665446400, 1665532800, 1665619200, 1665705600,
        1665792000, 1665878400, 1665964800, 1666051200, 1666137600,
        1666224000, 1666310400, 1666396800, 1666483200, 1666569600,
        1666656000, 1666742400, 1666828800, 1666915200, 1667001600,
        1667088000, 1667174400, 1667260800, 1667347200, 1667433600,
        1667520000, 1667606400, 1667692800, 1667779200, 1667865600,
        1667952000, 1668038400, 1668124800, 1668211200, 1668297600,
        1668384000, 1668470400, 1668556800, 1668643200, 1668729600,
        1668816000, 1668902400, 1668988800, 1669075200, 1669161600,
        1669248000, 1669334400, 1669420800, 1669507200, 1669593600,
        1669680000, 1669766400, 1669852800, 1669939200, 1670025600,
        1670112000, 1670198400, 1670284800, 1670371200, 1670457600,
        1670544000, 1670630400, 1670716800, 1670803200, 1670889600,
        1670976000, 1671062400, 1671148800, 1671235200, 1671321600,
        1671408000, 1671494400, 1671580800, 1671667200, 1671753600,
        1671840000, 1671926400, 1672012800, 1672099200, 1672185600,
        1672272000, 1672358400, 1672444800, 1672531200, 1672617600,
        1672704000, 1672790400, 1672876800, 1672963200, 1673049600,
        1673136000, 1673222400, 1673308800, 1673395200, 1673481600,
        1673568000, 1673654400, 1673740800, 1673827200, 1673913600,
        1674000000, 1674086400, 1674172800, 1674259200, 1674345600,
        1674432000, 1674518400, 1674604800, 1674691200, 1674777600,
        1674864000, 1674950400, 1675036800, 1675123200]),
 array([datetime.datetime(2022, 8, 1, 0, 0),
        datetime.datetime(2022, 8, 2, 0, 0),
        datetime.datetime(2022, 8, 3, 0, 0),
        datetime.datetime(2022, 8, 4, 0, 0),
        datetime.datetime(2022, 8, 5, 0, 0),
        datetime.datetime(2022, 8, 6, 0, 0),
        datetime.datetime(2022, 8, 7, 0, 0),
        datetime.datetime(2022, 8, 8, 0, 0),
        datetime.datetime(2022, 8, 9, 0, 0),
        datetime.datetime(2022, 8, 10, 0, 0),
        datetime.datetime(2022, 8, 11, 0, 0),
        datetime.datetime(2022, 8, 12, 0, 0),
        datetime.datetime(2022, 8, 13, 0, 0),
        datetime.datetime(2022, 8, 14, 0, 0),
        datetime.datetime(2022, 8, 15, 0, 0),
        datetime.datetime(2022, 8, 16, 0, 0),
        datetime.datetime(2022, 8, 17, 0, 0),
        datetime.datetime(2022, 8, 18, 0, 0),
        datetime.datetime(2022, 8, 19, 0, 0),
        datetime.datetime(2022, 8, 20, 0, 0),
        datetime.datetime(2022, 8, 21, 0, 0),
        datetime.datetime(2022, 8, 22, 0, 0),
        datetime.datetime(2022, 8, 23, 0, 0),
        datetime.datetime(2022, 8, 24, 0, 0),
        datetime.datetime(2022, 8, 25, 0, 0),
        datetime.datetime(2022, 8, 26, 0, 0),
        datetime.datetime(2022, 8, 27, 0, 0),
        datetime.datetime(2022, 8, 28, 0, 0),
        datetime.datetime(2022, 8, 29, 0, 0),
        datetime.datetime(2022, 8, 30, 0, 0),
        datetime.datetime(2022, 8, 31, 0, 0),
        datetime.datetime(2022, 9, 1, 0, 0),
        datetime.datetime(2022, 9, 2, 0, 0),
        datetime.datetime(2022, 9, 3, 0, 0),
        datetime.datetime(2022, 9, 4, 0, 0),
        datetime.datetime(2022, 9, 5, 0, 0),
        datetime.datetime(2022, 9, 6, 0, 0),
        datetime.datetime(2022, 9, 7, 0, 0),
        datetime.datetime(2022, 9, 8, 0, 0),
        datetime.datetime(2022, 9, 9, 0, 0),
        datetime.datetime(2022, 9, 10, 0, 0),
        datetime.datetime(2022, 9, 11, 0, 0),
        datetime.datetime(2022, 9, 12, 0, 0),
        datetime.datetime(2022, 9, 13, 0, 0),
        datetime.datetime(2022, 9, 14, 0, 0),
        datetime.datetime(2022, 9, 15, 0, 0),
        datetime.datetime(2022, 9, 16, 0, 0),
        datetime.datetime(2022, 9, 17, 0, 0),
        datetime.datetime(2022, 9, 18, 0, 0),
        datetime.datetime(2022, 9, 19, 0, 0),
        datetime.datetime(2022, 9, 20, 0, 0),
        datetime.datetime(2022, 9, 21, 0, 0),
        datetime.datetime(2022, 9, 22, 0, 0),
        datetime.datetime(2022, 9, 23, 0, 0),
        datetime.datetime(2022, 9, 24, 0, 0),
        datetime.datetime(2022, 9, 25, 0, 0),
        datetime.datetime(2022, 9, 26, 0, 0),
        datetime.datetime(2022, 9, 27, 0, 0),
        datetime.datetime(2022, 9, 28, 0, 0),
        datetime.datetime(2022, 9, 29, 0, 0),
        datetime.datetime(2022, 9, 30, 0, 0),
        datetime.datetime(2022, 10, 1, 0, 0),
        datetime.datetime(2022, 10, 2, 0, 0),
        datetime.datetime(2022, 10, 3, 0, 0),
        datetime.datetime(2022, 10, 4, 0, 0),
        datetime.datetime(2022, 10, 5, 0, 0),
        datetime.datetime(2022, 10, 6, 0, 0),
        datetime.datetime(2022, 10, 7, 0, 0),
        datetime.datetime(2022, 10, 8, 0, 0),
        datetime.datetime(2022, 10, 9, 0, 0),
        datetime.datetime(2022, 10, 10, 0, 0),
        datetime.datetime(2022, 10, 11, 0, 0),
        datetime.datetime(2022, 10, 12, 0, 0),
        datetime.datetime(2022, 10, 13, 0, 0),
        datetime.datetime(2022, 10, 14, 0, 0),
        datetime.datetime(2022, 10, 15, 0, 0),
        datetime.datetime(2022, 10, 16, 0, 0),
        datetime.datetime(2022, 10, 17, 0, 0),
        datetime.datetime(2022, 10, 18, 0, 0),
        datetime.datetime(2022, 10, 19, 0, 0),
        datetime.datetime(2022, 10, 20, 0, 0),
        datetime.datetime(2022, 10, 21, 0, 0),
        datetime.datetime(2022, 10, 22, 0, 0),
        datetime.datetime(2022, 10, 23, 0, 0),
        datetime.datetime(2022, 10, 24, 0, 0),
        datetime.datetime(2022, 10, 25, 0, 0),
        datetime.datetime(2022, 10, 26, 0, 0),
        datetime.datetime(2022, 10, 27, 0, 0),
        datetime.datetime(2022, 10, 28, 0, 0),
        datetime.datetime(2022, 10, 29, 0, 0),
        datetime.datetime(2022, 10, 30, 0, 0),
        datetime.datetime(2022, 10, 31, 0, 0),
        datetime.datetime(2022, 11, 1, 0, 0),
        datetime.datetime(2022, 11, 2, 0, 0),
        datetime.datetime(2022, 11, 3, 0, 0),
        datetime.datetime(2022, 11, 4, 0, 0),
        datetime.datetime(2022, 11, 5, 0, 0),
        datetime.datetime(2022, 11, 6, 0, 0),
        datetime.datetime(2022, 11, 7, 0, 0),
        datetime.datetime(2022, 11, 8, 0, 0),
        datetime.datetime(2022, 11, 9, 0, 0),
        datetime.datetime(2022, 11, 10, 0, 0),
        datetime.datetime(2022, 11, 11, 0, 0),
        datetime.datetime(2022, 11, 12, 0, 0),
        datetime.datetime(2022, 11, 13, 0, 0),
        datetime.datetime(2022, 11, 14, 0, 0),
        datetime.datetime(2022, 11, 15, 0, 0),
        datetime.datetime(2022, 11, 16, 0, 0),
        datetime.datetime(2022, 11, 17, 0, 0),
        datetime.datetime(2022, 11, 18, 0, 0),
        datetime.datetime(2022, 11, 19, 0, 0),
        datetime.datetime(2022, 11, 20, 0, 0),
        datetime.datetime(2022, 11, 21, 0, 0),
        datetime.datetime(2022, 11, 22, 0, 0),
        datetime.datetime(2022, 11, 23, 0, 0),
        datetime.datetime(2022, 11, 24, 0, 0),
        datetime.datetime(2022, 11, 25, 0, 0),
        datetime.datetime(2022, 11, 26, 0, 0),
        datetime.datetime(2022, 11, 27, 0, 0),
        datetime.datetime(2022, 11, 28, 0, 0),
        datetime.datetime(2022, 11, 29, 0, 0),
        datetime.datetime(2022, 11, 30, 0, 0),
        datetime.datetime(2022, 12, 1, 0, 0),
        datetime.datetime(2022, 12, 2, 0, 0),
        datetime.datetime(2022, 12, 3, 0, 0),
        datetime.datetime(2022, 12, 4, 0, 0),
        datetime.datetime(2022, 12, 5, 0, 0),
        datetime.datetime(2022, 12, 6, 0, 0),
        datetime.datetime(2022, 12, 7, 0, 0),
        datetime.datetime(2022, 12, 8, 0, 0),
        datetime.datetime(2022, 12, 9, 0, 0),
        datetime.datetime(2022, 12, 10, 0, 0),
        datetime.datetime(2022, 12, 11, 0, 0),
        datetime.datetime(2022, 12, 12, 0, 0),
        datetime.datetime(2022, 12, 13, 0, 0),
        datetime.datetime(2022, 12, 14, 0, 0),
        datetime.datetime(2022, 12, 15, 0, 0),
        datetime.datetime(2022, 12, 16, 0, 0),
        datetime.datetime(2022, 12, 17, 0, 0),
        datetime.datetime(2022, 12, 18, 0, 0),
        datetime.datetime(2022, 12, 19, 0, 0),
        datetime.datetime(2022, 12, 20, 0, 0),
        datetime.datetime(2022, 12, 21, 0, 0),
        datetime.datetime(2022, 12, 22, 0, 0),
        datetime.datetime(2022, 12, 23, 0, 0),
        datetime.datetime(2022, 12, 24, 0, 0),
        datetime.datetime(2022, 12, 25, 0, 0),
        datetime.datetime(2022, 12, 26, 0, 0),
        datetime.datetime(2022, 12, 27, 0, 0),
        datetime.datetime(2022, 12, 28, 0, 0),
        datetime.datetime(2022, 12, 29, 0, 0),
        datetime.datetime(2022, 12, 30, 0, 0),
        datetime.datetime(2022, 12, 31, 0, 0),
        datetime.datetime(2023, 1, 1, 0, 0),
        datetime.datetime(2023, 1, 2, 0, 0),
        datetime.datetime(2023, 1, 3, 0, 0),
        datetime.datetime(2023, 1, 4, 0, 0),
        datetime.datetime(2023, 1, 5, 0, 0),
        datetime.datetime(2023, 1, 6, 0, 0),
        datetime.datetime(2023, 1, 7, 0, 0),
        datetime.datetime(2023, 1, 8, 0, 0),
        datetime.datetime(2023, 1, 9, 0, 0),
        datetime.datetime(2023, 1, 10, 0, 0),
        datetime.datetime(2023, 1, 11, 0, 0),
        datetime.datetime(2023, 1, 12, 0, 0),
        datetime.datetime(2023, 1, 13, 0, 0),
        datetime.datetime(2023, 1, 14, 0, 0),
        datetime.datetime(2023, 1, 15, 0, 0),
        datetime.datetime(2023, 1, 16, 0, 0),
        datetime.datetime(2023, 1, 17, 0, 0),
        datetime.datetime(2023, 1, 18, 0, 0),
        datetime.datetime(2023, 1, 19, 0, 0),
        datetime.datetime(2023, 1, 20, 0, 0),
        datetime.datetime(2023, 1, 21, 0, 0),
        datetime.datetime(2023, 1, 22, 0, 0),
        datetime.datetime(2023, 1, 23, 0, 0),
        datetime.datetime(2023, 1, 24, 0, 0),
        datetime.datetime(2023, 1, 25, 0, 0),
        datetime.datetime(2023, 1, 26, 0, 0),
        datetime.datetime(2023, 1, 27, 0, 0),
        datetime.datetime(2023, 1, 28, 0, 0),
        datetime.datetime(2023, 1, 29, 0, 0),
        datetime.datetime(2023, 1, 30, 0, 0),
        datetime.datetime(2023, 1, 31, 0, 0)], dtype=object))

In [29]:
train = pd.read_csv(path_train +'/target/y_train.csv').convert_dtypes()
train

        wagnum       month  target_month  target_day
0        33361  2023-01-01             0           0
1        33364  2023-01-01             0           0
2        33366  2023-01-01             0           0
3        33358  2023-01-01             0           0
4        33349  2023-01-01             0           0
...        ...         ...           ...         ...
203848   25045  2022-12-01             0           0
203849   27156  2022-12-01             0           0
203850   21361  2022-12-01             0           0
203851    8061  2022-12-01             0           0
203852   33350  2022-12-01             1           0

[203853 rows x 4 columns]

In [30]:
import sys
sys.path.append('..')
from src.timeconverter import date_to_timestamp
train['month'] = train['month'].apply(date_to_timestamp)
train

        wagnum       month  target_month  target_day
0        33361  1672531200             0           0
1        33364  1672531200             0           0
2        33366  1672531200             0           0
3        33358  1672531200             0           0
4        33349  1672531200             0           0
...        ...         ...           ...         ...
203848   25045  1669852800             0           0
203849   27156  1669852800             0           0
203850   21361  1669852800             0           0
203851    8061  1669852800             0           0
203852   33350  1669852800             1           0

[203853 rows x 4 columns]

In [31]:
train_time_of_measure = np.vectorize(lambda x: (x, datetime.utcfromtimestamp(x)))(np.unique(train['month']))
train_time_of_measure

(array([1659312000, 1661990400, 1664582400, 1667260800, 1669852800,
        1672531200]),
 array([datetime.datetime(2022, 8, 1, 0, 0),
        datetime.datetime(2022, 9, 1, 0, 0),
        datetime.datetime(2022, 10, 1, 0, 0),
        datetime.datetime(2022, 11, 1, 0, 0),
        datetime.datetime(2022, 12, 1, 0, 0),
        datetime.datetime(2023, 1, 1, 0, 0)], dtype=object))

In [32]:
combined_train = pd.merge(train, kti, on='wagnum', how='right')
combined_train

,wagnum,month,target_month,target_day,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,...,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
0,325,1672531200,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
1,325,1659312000,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
2,325,1661990400,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
3,325,1664582400,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
4,325,1667260800,1,1,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407797,28090,1659312000,0,0,1675123200,158013,28.7,26.6,28.0,28.7,...,31.1,28.1,59.3,61.2,64.5,65.4,70.9,71.8,72.1,73.5
407798,28090,1661990400,0,0,1675123200,158013,28.7,26.6,28.0,28.7,...,31.1,28.1,59.3,61.2,64.5,65.4,70.9,71.8,72.1,73.5
407799,28090,1664582400,0,0,1675123200,158013,28.7,26.6,28.0,28.7,...,31.1,28.1,59.3,61.2,64.5,65.4,70.9,71.8,72.1,73.5
407800,28090,1667260800,0,0,1675123200,158013,28.7,26.6,28.0,28.7,...,31.1,28.1,59.3,61.2,64.5,65.4,70.9,71.8,72.1,73.5
407801,28090,1669852800,0,0,1675123200,158013,28.7,26.6,28.0,28.7,...,31.1,28.1,59.3,61.2,64.5,65.4,70.9,71.8,72.1,73.5

In [33]:
combined_train = combined_train[combined_train['operation_date_dttm'] <= combined_train['month']]
combined_train

,wagnum,month,target_month,target_day,operation_date_dttm,mileage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,...,axl4_l_w_flange,axl4_r_w_flange,axl1_l_w_rim,axl1_r_w_rim,axl2_l_w_rim,axl2_r_w_rim,axl3_l_w_rim,axl3_r_w_rim,axl4_l_w_rim,axl4_r_w_rim
0,325,1672531200,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
1,325,1659312000,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
2,325,1661990400,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
3,325,1664582400,0,0,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
4,325,1667260800,1,1,1659312000,112091,30.5,31.0,26.7,27.4,...,26.3,27.4,67.5,65.6,66.7,64.5,61.5,60.3,67.9,66.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391542,26252,1672531200,0,0,1672531200,2095,28.9,30.1,29.3,30.4,...,29.3,29.2,69.6,69.9,67.7,68.1,60.6,60.7,60.3,60.2
391566,28878,1672531200,0,0,1672531200,130212,27.6,26.4,26.5,27.4,...,26.8,27.3,54.8,55.4,55.1,55.9,60.4,61.9,55.3,55.7
391608,32663,1672531200,0,0,1672531200,80609,32.1,30.0,30.0,31.1,...,30.7,30.7,69.9,70.7,72.5,72.3,71.7,74.3,71.6,72.4
391644,29878,1672531200,0,0,1672531200,1092,30.6,30.1,30.7,29.9,...,30.3,30.4,58.9,58.0,57.1,57.3,61.6,59.8,56.9,57.0
391674,29894,1672531200,0,0,1672531200,144610,29.7,31.4,29.1,26.7,...,28.5,29.0,65.3,66.4,71.9,71.6,59.5,60.1,66.3,67.2

In [36]:
combined_train.isna().sum()

wagnum                 0
month                  0
target_month           0
target_day             0
operation_date_dttm    0
mileage_all            0
axl1_l_w_flange        0
axl1_r_w_flange        0
axl2_l_w_flange        0
axl2_r_w_flange        0
axl3_l_w_flange        0
axl3_r_w_flange        0
axl4_l_w_flange        0
axl4_r_w_flange        0
axl1_l_w_rim           0
axl1_r_w_rim           0
axl2_l_w_rim           0
axl2_r_w_rim           0
axl3_l_w_rim           0
axl3_r_w_rim           0
axl4_l_w_rim           0
axl4_r_w_rim           0
dtype: int64

## *kti measure are in future of train!!*