In [8]:
import pandas as pd
from src.split import split_train_val

path_train = r"./"
target = pd.read_csv(path_train +'/target/y_train.csv').convert_dtypes()

features = ['wagnum', 'month']
labels = ['target_month', 'target_day']
X_train, X_val, y_train, y_val = split_train_val(target, features, labels, 0.1, 42)

In [9]:
X_train.head(10)

        wagnum       month
2801      9383  2023-01-01
73656    23269  2022-09-01
19341    22338  2023-01-01
167314   20819  2022-11-01
76163    33877  2022-09-01
66831    25454  2022-08-01
185240   16915  2022-12-01
81037    17555  2022-09-01
175803   23635  2022-12-01
177725   33623  2022-12-01

In [10]:
y_train.head(10)

        target_month  target_day
2801               0           0
73656              0           0
19341              0           0
167314             0           0
76163              0           0
66831              0           0
185240             0           0
81037              0           0
175803             0           0
177725             0           0

In [11]:
X_train.to_csv('X_train.csv')
y_train.to_csv('y_train.csv')
X_val.to_csv('X_val.csv')
y_val.to_csv('y_val.csv')