In [51]:
import pandas as pd
import sys
sys.path.append('..')
from src.timeconverter import date_to_timestamp

In [52]:
path_train = r"./"

In [53]:
# текущие ремонты вагонов
tr_rem = pd.read_parquet(path_train + '/tr_rems.parquet').convert_dtypes()

In [54]:
tr_rem

,wagnum,rem_month,kod_vrab,neis1_kod,neis2_kod,neis3_kod,mod1_kod,mod2_kod,mod3_kod,mod4_kod,mod5_kod,mod6_kod,mod7_kod,road_id_send,gr_probeg,por_probeg,st_id_send
0,29938,2022-08-01,3,0,98,54,7,4,2,0,0,0,0,38,87913,37467,10522
1,29938,2022-08-01,3,14,98,54,7,4,2,0,0,0,0,38,87913,37467,10441
2,29852,2022-08-01,2,0,98,54,7,4,2,0,0,0,0,28,81824,45579,4789
3,29852,2022-08-01,2,36,98,54,7,4,2,0,0,0,0,28,81824,45579,4789
4,13674,2022-08-01,2,95,98,54,7,4,2,0,0,0,0,28,64130,34697,4789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7695,31868,2023-01-01,3,14,98,54,7,4,2,0,0,0,0,42,88690,60006,11552
7696,22921,2023-01-01,5,0,98,54,7,4,2,0,0,0,0,28,93198,53596,6168
7697,22921,2023-01-01,3,34,95,54,7,4,2,0,0,0,0,28,93198,53596,6168
7698,4978,2023-01-01,3,131,68,54,7,4,2,0,0,0,0,3,72453,38209,262
7699,16226,2023-01-01,3,6,98,54,7,4,2,0,0,0,0,43,71577,20493,11915

In [45]:
tr_rem['rem_month'] = tr_rem['rem_month'].astype(str)
tr_rem['rem_month'] = tr_rem['rem_month'].apply(date_to_timestamp)

In [46]:
tr_rem

,wagnum,rem_month,kod_vrab,neis1_kod,neis2_kod,neis3_kod,mod1_kod,mod2_kod,mod3_kod,mod4_kod,mod5_kod,mod6_kod,mod7_kod,road_id_send,gr_probeg,por_probeg,st_id_send
0,29938,1659312000,3,0,98,54,7,4,2,0,0,0,0,38,87913,37467,10522
1,29938,1659312000,3,14,98,54,7,4,2,0,0,0,0,38,87913,37467,10441
2,29852,1659312000,2,0,98,54,7,4,2,0,0,0,0,28,81824,45579,4789
3,29852,1659312000,2,36,98,54,7,4,2,0,0,0,0,28,81824,45579,4789
4,13674,1659312000,2,95,98,54,7,4,2,0,0,0,0,28,64130,34697,4789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7695,31868,1672531200,3,14,98,54,7,4,2,0,0,0,0,42,88690,60006,11552
7696,22921,1672531200,5,0,98,54,7,4,2,0,0,0,0,28,93198,53596,6168
7697,22921,1672531200,3,34,95,54,7,4,2,0,0,0,0,28,93198,53596,6168
7698,4978,1672531200,3,131,68,54,7,4,2,0,0,0,0,3,72453,38209,262
7699,16226,1672531200,3,6,98,54,7,4,2,0,0,0,0,43,71577,20493,11915

In [47]:
unique_values_count = tr_rem['wagnum'].nunique()
unique_values_count

17849

In [49]:
tr_rem.sort_values(by='rem_month', ascending=False, inplace=True)

tr_rem = tr_rem.drop_duplicates(subset='wagnum', keep='first')

tr_rem.reset_index(drop=True, inplace=True)

       wagnum   rem_month  kod_vrab  neis1_kod  neis2_kod  neis3_kod
0       16226  1672531200         3          6         98         54  \
1        9553  1672531200         2         37         98         54
2        5719  1672531200         3          6         19         51
3       16443  1672531200         3          2         98         54
4       17827  1672531200         3          0         98         54
...       ...         ...       ...        ...        ...        ...
17844   30184  1659312000         2          0         98         54
17845   23245  1659312000         3          0         98         54
17846   29416  1659312000         5          0         98         54
17847    6290  1659312000         2          0         98         54
17848   19956  1659312000         3          0         98         54

       mod1_kod  mod2_kod  mod3_kod  mod4_kod  mod5_kod  mod6_kod  mod7_kod
0             7         4         2         0         0         0         0  \
1             7         4         2         0         0         0         0
2             7         4         2         0         0         0         0
3             7         4         2         0         0         0         0
4             7         4         2         0         0         0         0
...         ...       ...       ...       ...       ...       ...       ...
17844         7         4         2         0         0         0         0
17845         7         4         2         0         0         0         0
17846         7         4         2         0         0         0         0
17847         7         4         2         0         0         0         0
17848         7         4         2         0         0         0         0

       road_id_send  gr_probeg  por_probeg  st_id_send
0                43      71577       20493       11915
1                25      34104        8187        5234
2                42      98308       56779       11464
3                 3     110746       37421         457
4                42      42192       14857       11413
...             ...        ...         ...         ...
17844            16      76577       34826        4169
17845            28      55202       21818        4790
17846            30     116659       36505       12627
17847             3      62849       33069         848
17848            38      85569       42821        9753

[17849 rows x 17 columns]

In [50]:
tr_rem

,wagnum,rem_month,kod_vrab,neis1_kod,neis2_kod,neis3_kod,mod1_kod,mod2_kod,mod3_kod,mod4_kod,mod5_kod,mod6_kod,mod7_kod,road_id_send,gr_probeg,por_probeg,st_id_send
0,16226,1672531200,3,6,98,54,7,4,2,0,0,0,0,43,71577,20493,11915
1,9553,1672531200,2,37,98,54,7,4,2,0,0,0,0,25,34104,8187,5234
2,5719,1672531200,3,6,19,51,7,4,2,0,0,0,0,42,98308,56779,11464
3,16443,1672531200,3,2,98,54,7,4,2,0,0,0,0,3,110746,37421,457
4,17827,1672531200,3,0,98,54,7,4,2,0,0,0,0,42,42192,14857,11413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17844,30184,1659312000,2,0,98,54,7,4,2,0,0,0,0,16,76577,34826,4169
17845,23245,1659312000,3,0,98,54,7,4,2,0,0,0,0,28,55202,21818,4790
17846,29416,1659312000,5,0,98,54,7,4,2,0,0,0,0,30,116659,36505,12627
17847,6290,1659312000,2,0,98,54,7,4,2,0,0,0,0,3,62849,33069,848
17848,19956,1659312000,3,0,98,54,7,4,2,0,0,0,0,38,85569,42821,9753