In [10]:
import pandas as pd
import sys
sys.path.append('..')
from src.split import split_train_val
import numpy as np

In [11]:
path_train = r"./"

In [12]:
# текущие ремонты вагонов
tr_rem = pd.read_parquet(path_train + '/tr_rems.parquet').convert_dtypes()
target = pd.read_csv(path_train +'/target/y_train.csv').convert_dtypes()

In [13]:
features = ['wagnum', 'month']
labels = ['target_month', 'target_day']
X_train, X_val, y_train, y_val = split_train_val(target, features, labels, 0.1, 42)

In [17]:
X_train.to_csv('X_train.csv')
y_train.to_csv('y_train.csv')
X_val.to_csv('X_val.csv')
y_val.to_csv('y_val.csv')

In [5]:
from datetime import datetime
import pytz

def date_to_timestamp(date_string: str) -> int:
    date = datetime.strptime(date_string, '%Y-%m-%d')
    utc = pytz.UTC
    date_utc = utc.localize(date)
    timestamp_seconds = int(date_utc.timestamp())
    return timestamp_seconds

def timestamp_to_date(timestamp: int) -> str:
    date = datetime.utcfromtimestamp(timestamp)
    date_string = date.strftime('%Y-%m-%d')
    return date_string

date_to_timestamp('2023-08-01')

1690848000

In [7]:
X_train['month'] = X_train['month'].apply(date_to_timestamp)
X_train

        Unnamed: 0  wagnum       month
0             2801    9383  1672531200
1            73656   23269  1661990400
2            19341   22338  1672531200
3           167314   20819  1667260800
4            76163   33877  1661990400
...            ...     ...         ...
183462      119879   19359  1664582400
183463      103694   10552  1664582400
183464      131932    3211  1664582400
183465      146867   23676  1667260800
183466      121958   16854  1664582400

[183467 rows x 3 columns]

In [42]:
tr_rem['rem_month'] = tr_rem['rem_month'].astype(str)
tr_rem['rem_month'] = tr_rem['rem_month'].apply(date_to_timestamp)

In [43]:
len(tr_rem)

48652

In [44]:
tr_rem.head(5)

,wagnum,rem_month,kod_vrab,neis1_kod,neis2_kod,neis3_kod,mod1_kod,mod2_kod,mod3_kod,mod4_kod,mod5_kod,mod6_kod,mod7_kod,road_id_send,gr_probeg,por_probeg,st_id_send
0,29938,1659312000,3,0,98,54,7,4,2,0,0,0,0,38,87913,37467,10522
1,29938,1659312000,3,14,98,54,7,4,2,0,0,0,0,38,87913,37467,10441
2,29852,1659312000,2,0,98,54,7,4,2,0,0,0,0,28,81824,45579,4789
3,29852,1659312000,2,36,98,54,7,4,2,0,0,0,0,28,81824,45579,4789
4,13674,1659312000,2,95,98,54,7,4,2,0,0,0,0,28,64130,34697,4789

In [49]:
import pandas as pd

train = pd.concat([X_train, y_train], axis=1)

In [50]:
train

        wagnum       month  target_month  target_day
0         9383  2023-01-01             0           0
1        23269  2022-09-01             0           0
2        22338  2023-01-01             0           0
3        20819  2022-11-01             0           0
4        33877  2022-09-01             0           0
...        ...         ...           ...         ...
183462   19359  2022-10-01             0           0
183463   10552  2022-10-01             0           0
183464    3211  2022-10-01             0           0
183465   23676  2022-11-01             0           0
183466   16854  2022-10-01             1           0

[183467 rows x 4 columns]