In [688]:
import pandas as pd
import numpy as np
path_train = r"./"

wag_param = pd.read_parquet(path_train + '/wag_params.parquet').convert_dtypes()
wag_param

,wagnum,model,rod_id,gruz,cnsi_gruz_capacity,cnsi_volumek,tara,date_build,srok_sl,zavod_build,date_iskl,cnsi_probeg_dr,cnsi_probeg_kr,kuzov,telega,tormoz,tipvozd,tippogl,norma_km,ownertype
3218,26318,12-600-04,1,682,682,85.0,240,1992-12-25,2022-04-27,5,2023-02-16,160,160,2,9,3,6,11,110000,0
19128,28344,12-132,1,700,700,88.0,240,2003-08-12,2024-12-24,0,2022-12-14,110,160,2,9,2,1,12,0,0
21526,8099,11-286,0,670,670,138.0,270,1995-08-31,2027-10-01,1,NaT,110,160,2,9,2,1,1,160000,1
32353,33350,12-9850-02,1,750,750,90.0,248,2014-10-27,2047-02-05,19,NaT,250,500,2,11,2,7,12,250000,1
81,5308,11-276,0,680,680,122.0,260,1995-09-17,2027-09-28,1,NaT,110,160,2,9,2,1,11,160000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33703,18766,11-280,0,680,680,138.0,259,2013-01-07,2046-03-20,1,NaT,110,160,2,9,2,7,12,160000,0
33704,18769,11-280,0,680,680,138.0,259,2013-01-18,2046-02-14,1,NaT,110,160,2,9,2,7,12,160000,0
33705,18899,11-280,0,680,680,138.0,260,2013-07-24,2044-03-03,1,NaT,110,160,2,9,2,7,11,160000,0
33706,18912,11-280,0,680,680,138.0,259,2015-02-28,2044-08-04,1,NaT,110,160,2,9,2,7,11,160000,0
33707,18914,11-280,0,680,680,138.0,259,2013-06-16,2046-07-02,1,NaT,110,160,2,9,2,7,11,160000,0

In [689]:
wag_param['wagnum'].duplicated().sum()

0

In [690]:
wag_param.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33977 entries, 3218 to 33707
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wagnum              33977 non-null  Int64
 1   model               33977 non-null  string
 2   rod_id              33977 non-null  Int64
 3   gruz                33977 non-null  Int64
 4   cnsi_gruz_capacity  33977 non-null  Int64
 5   cnsi_volumek        33977 non-null  Float64
 6   tara                33977 non-null  Int64
 7   date_build          33977 non-null  datetime64[ns]
 8   srok_sl             33977 non-null  datetime64[ns]
 9   zavod_build         33977 non-null  Int64
 10  date_iskl           116 non-null    datetime64[ns]
 11  cnsi_probeg_dr      33977 non-null  Int64
 12  cnsi_probeg_kr      33977 non-null  Int64
 13  kuzov               33977 non-null  Int64
 14  telega              33977 non-null  Int64
 15  tormoz              33977 non-null  Int64
 16  tipvozd             33977 non-null  string
 17  tippogl             33918 non-null  Int64
 18  norma_km            33977 non-null  Int64
 19  ownertype           33977 non-null  Int64
dtypes: Float64(1), Int64(14), datetime64[ns](3), string(2)
memory usage: 5.9 MB

In [691]:
wag_param.isna().sum()

wagnum                    0
model                     0
rod_id                    0
gruz                      0
cnsi_gruz_capacity        0
cnsi_volumek              0
tara                      0
date_build                0
srok_sl                   0
zavod_build               0
date_iskl             33861
cnsi_probeg_dr            0
cnsi_probeg_kr            0
kuzov                     0
telega                    0
tormoz                    0
tipvozd                   0
tippogl                  59
norma_km                  0
ownertype                 0
dtype: int64

#### *date_iskl 33861/ 33977 is nan???!!!*

In [692]:
wag_param['date_iskl'] = np.where(wag_param['date_iskl'].isna(), '1', '0')

Тип поглощающего аппарата 59 nan

In [693]:
wag_param['tippogl'].value_counts()

tippogl
11    22248
12     4906
1      1956
2      1895
16      792
5       512
4       483
13      399
19      207
9       181
7        99
6        70
21       57
8        40
3        37
15       26
18       10
Name: count, dtype: Int64

Seems like frequency encoding is good choice

In [694]:
print(wag_param['tippogl'].value_counts(normalize=True))
frequency_map = wag_param['tippogl'].value_counts(normalize=True).to_dict()
wag_param['tippogl'] = wag_param['tippogl'].map(frequency_map)
wag_param['tippogl'].value_counts(), len(wag_param['tippogl'].value_counts())

tippogl
11    0.655935
12    0.144643
1     0.057668
2      0.05587
16     0.02335
5     0.015095
4      0.01424
13    0.011764
19    0.006103
9     0.005336
7     0.002919
6     0.002064
21    0.001681
8     0.001179
3     0.001091
15    0.000767
18    0.000295
Name: proportion, dtype: Float64

(tippogl
 0.655935    22248
 0.144643     4906
 0.057668     1956
 0.055870     1895
 0.023350      792
 0.015095      512
 0.014240      483
 0.011764      399
 0.006103      207
 0.005336      181
 0.002919       99
 0.002064       70
 0.001681       57
 0.001179       40
 0.001091       37
 0.000767       26
 0.000295       10
 Name: count, dtype: int64,
 17)

Тип поглощающего аппарата не привязан к модели

In [695]:
wag_param[['model', 'tippogl']].groupby('model')['tippogl'].unique().apply(len)

model
11-066-04      1
11-066-08      1
11-1268        1
11-1807       11
11-1807-01    15
11-2135-01     5
11-2163        3
11-217         1
11-259         1
11-260         4
11-264         4
11-270         6
11-276        12
11-280        16
11-280-01      4
11-286        14
11-7038        3
11-9962        4
11-К001        1
12-1000        1
12-1302        1
12-1303-01     6
12-132        13
12-132-03      8
12-1704-04    10
12-196-01      2
12-196-02      2
12-295         5
12-296-01      6
12-4102        8
12-532-02      2
12-600-02      3
12-600-04      2
12-600-05      4
12-600-07      1
12-600-08      1
12-7023-02     6
12-753-03      1
12-783         5
12-9046        4
12-9085        3
12-955         4
12-9745        3
12-9766        5
12-9780        3
12-9788-01     4
12-9790        6
12-9837        3
12-9850-02     1
Р-9494-01      1
Name: tippogl, dtype: int64

Тип поглощающего аппарата не привязан к телеге

In [696]:
wag_param[['telega', 'tippogl']].groupby('telega')['tippogl'].unique().apply(len)

telega
2     10
9     18
11     2
27     3
Name: tippogl, dtype: int64

Тип поглощающего аппарата не привязан к заводу

In [697]:
wag_param[['zavod_build', 'tippogl']].groupby('zavod_build')['tippogl'].unique().apply(len)

zavod_build
0     13
1     17
2      6
3      5
4      3
5      5
6      6
7      3
8      8
9     12
10     1
11     4
12     1
13     6
14     3
15    14
16     2
17    16
18     6
19     3
20     4
21     3
22     1
23     1
Name: tippogl, dtype: int64

Заменим частым

In [698]:
wag_param['tippogl'].fillna(max(frequency_map.values()), inplace=True)

In [699]:
wag_param.isna().sum()

wagnum                0
model                 0
rod_id                0
gruz                  0
cnsi_gruz_capacity    0
cnsi_volumek          0
tara                  0
date_build            0
srok_sl               0
zavod_build           0
date_iskl             0
cnsi_probeg_dr        0
cnsi_probeg_kr        0
kuzov                 0
telega                0
tormoz                0
tipvozd               0
tippogl               0
norma_km              0
ownertype             0
dtype: int64

In [700]:
str_columns = wag_param.select_dtypes(include='string').columns.tolist()
str_columns

['model', 'tipvozd']

In [701]:
for cols in str_columns:
    print(wag_param[cols].value_counts())

model
12-132        11659
12-132-03      4034
11-286         3359
11-1807-01     2941
11-280         1731
11-2135-01     1711
11-276         1181
11-2163         950
12-1303-01      770
12-196-02       695
12-7023-02      686
11-1807         514
12-9788-01      475
12-783          421
11-9962         379
12-4102         320
12-1704-04      310
12-296-01       282
11-7038         225
12-600-05       193
12-9780         160
12-9790         138
12-9766         138
12-295          100
12-9085          63
12-600-02        63
11-1268          60
12-196-01        58
11-270           53
12-9046          49
12-1302          40
12-955           38
11-280-01        38
12-600-08        37
12-600-04        33
11-264           23
11-260           19
12-9745           7
12-9837           6
12-532-02         6
11-217            2
11-066-04         2
12-600-07         1
12-1000           1
11-К001           1
12-753-03         1
11-066-08         1
12-9850-02        1
Р-9494-01         1
11-259            1
Name: count, dtype: Int64
tipvozd
7     17047
1      7929
4      2984
6      2308
19     1362
16     1148
10      636
8       462
3        68
21       30
2         2
9         1
Name: count, dtype: Int64

datetime columns

In [702]:
import sys
sys.path.append('..')
from src.timeconverter import date_to_timestamp

datetime_columns = wag_param.select_dtypes(include='datetime64[ns]').columns.tolist()
wag_param[datetime_columns] = wag_param[datetime_columns].astype(str)

for datetime_column in datetime_columns:
    wag_param[datetime_column] = wag_param[datetime_column].apply(date_to_timestamp)
wag_param

,wagnum,model,rod_id,gruz,cnsi_gruz_capacity,cnsi_volumek,tara,date_build,srok_sl,zavod_build,date_iskl,cnsi_probeg_dr,cnsi_probeg_kr,kuzov,telega,tormoz,tipvozd,tippogl,norma_km,ownertype
3218,26318,12-600-04,1,682,682,85.0,240,725241600,1651017600,5,0,160,160,2,9,3,6,0.655935,110000,0
19128,28344,12-132,1,700,700,88.0,240,1060646400,1734998400,0,0,110,160,2,9,2,1,0.144643,0,0
21526,8099,11-286,0,670,670,138.0,270,809827200,1822348800,1,1,110,160,2,9,2,1,0.057668,160000,1
32353,33350,12-9850-02,1,750,750,90.0,248,1414368000,2432937600,19,1,250,500,2,11,2,7,0.144643,250000,1
81,5308,11-276,0,680,680,122.0,260,811296000,1822089600,1,1,110,160,2,9,2,1,0.655935,160000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33703,18766,11-280,0,680,680,138.0,259,1357516800,2405116800,1,1,110,160,2,9,2,7,0.144643,160000,0
33704,18769,11-280,0,680,680,138.0,259,1358467200,2402179200,1,1,110,160,2,9,2,7,0.144643,160000,0
33705,18899,11-280,0,680,680,138.0,260,1374624000,2340576000,1,1,110,160,2,9,2,7,0.655935,160000,0
33706,18912,11-280,0,680,680,138.0,259,1425081600,2353881600,1,1,110,160,2,9,2,7,0.655935,160000,0
33707,18914,11-280,0,680,680,138.0,259,1371340800,2414102400,1,1,110,160,2,9,2,7,0.655935,160000,0

ownertype is useless

In [703]:
wag_param = wag_param.drop(['ownertype'], axis=1)
wag_param

,wagnum,model,rod_id,gruz,cnsi_gruz_capacity,cnsi_volumek,tara,date_build,srok_sl,zavod_build,date_iskl,cnsi_probeg_dr,cnsi_probeg_kr,kuzov,telega,tormoz,tipvozd,tippogl,norma_km
3218,26318,12-600-04,1,682,682,85.0,240,725241600,1651017600,5,0,160,160,2,9,3,6,0.655935,110000
19128,28344,12-132,1,700,700,88.0,240,1060646400,1734998400,0,0,110,160,2,9,2,1,0.144643,0
21526,8099,11-286,0,670,670,138.0,270,809827200,1822348800,1,1,110,160,2,9,2,1,0.057668,160000
32353,33350,12-9850-02,1,750,750,90.0,248,1414368000,2432937600,19,1,250,500,2,11,2,7,0.144643,250000
81,5308,11-276,0,680,680,122.0,260,811296000,1822089600,1,1,110,160,2,9,2,1,0.655935,160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33703,18766,11-280,0,680,680,138.0,259,1357516800,2405116800,1,1,110,160,2,9,2,7,0.144643,160000
33704,18769,11-280,0,680,680,138.0,259,1358467200,2402179200,1,1,110,160,2,9,2,7,0.144643,160000
33705,18899,11-280,0,680,680,138.0,260,1374624000,2340576000,1,1,110,160,2,9,2,7,0.655935,160000
33706,18912,11-280,0,680,680,138.0,259,1425081600,2353881600,1,1,110,160,2,9,2,7,0.655935,160000
33707,18914,11-280,0,680,680,138.0,259,1371340800,2414102400,1,1,110,160,2,9,2,7,0.655935,160000

cnsi_gruz_capacity == gruz

In [704]:
len(wag_param['gruz'] == wag_param['cnsi_gruz_capacity'])

33977

In [705]:
print(wag_param['cnsi_gruz_capacity'].value_counts())

cnsi_gruz_capacity
695    12376
670     5108
700     5001
680     4196
667     2941
672      893
710      833
690      808
750      754
703      686
693      193
706       63
688       53
696       37
682       33
719        1
660        1
Name: count, dtype: Int64

In [706]:
print(wag_param['gruz'].value_counts())
gruz_values = wag_param['gruz'].value_counts().index.to_list()

step = 50
gruz_values = sorted(gruz_values)
groups = (gruz_values[-1] - gruz_values[0] + step - 1) // step

gruz
695    12376
670     5108
700     5001
680     4196
667     2941
672      893
710      833
690      808
750      754
703      686
693      193
706       63
688       53
696       37
682       33
719        1
660        1
Name: count, dtype: Int64

In [707]:
wag_param['cnsi_volumek'].value_counts()

cnsi_volumek
88.0     17201
138.0     5642
165.0     2941
161.0     2661
122.0     1235
85.0       723
94.0       695
90.0       687
157.2      379
82.0       320
76.0       319
78.0       284
83.0       283
150.0      225
77.0       109
75.2       100
88.4        63
174.0       60
114.0       23
140.0       19
120.0        7
73.0         1
Name: count, dtype: Int64

In [708]:
wag_param['tara'].value_counts()

tara
240    7428
270    3943
243    3261
242    1919
271    1730
260    1723
241    1673
268    1148
245     979
239     963
257     916
235     861
267     689
258     627
225     591
236     580
265     516
237     376
238     358
259     337
249     328
244     316
248     283
272     278
256     252
232     182
262     161
273     159
234     154
224     147
254     132
247     130
269     119
230     118
253     100
250     100
233      95
255      59
223      51
231      35
263      28
221      22
220      18
264      16
251      16
252      15
246      13
222      10
266      10
227       3
217       2
261       2
229       2
226       1
228       1
219       1
Name: count, dtype: Int64

Применим freqeuncy encoding к zavod build

In [709]:
print(wag_param['zavod_build'].value_counts())
# zavod_frequency_map = wag_param['zavod_build'].value_counts(normalize=True).to_dict()
# wag_param['zavod_build'] = wag_param['zavod_build'].map(zavod_frequency_map)
# print(wag_param['zavod_build'].value_counts())
wag_param['zavod_build'] = wag_param['zavod_build'].astype(str)

zavod_build
0     15756
1      9453
17     2722
2      1334
6      1285
15      710
13      700
20      379
9       333
8       320
5       209
4       160
18      138
11      106
21       88
3        87
19       64
16       56
10       39
12       23
7         7
14        6
22        1
23        1
Name: count, dtype: Int64

Даже энкодить не надо

In [710]:
wag_param['cnsi_probeg_dr'].value_counts()

cnsi_probeg_dr
110    30779
160     1494
320      950
350      753
250        1
Name: count, dtype: Int64

cnsi_probeg_kr

In [711]:
wag_param['cnsi_probeg_kr'].value_counts()

cnsi_probeg_kr
160    32236
320      950
500      754
0         37
Name: count, dtype: Int64

Interesting fact(model == 12-600-08, 'cnsi_probeg_kr' == 0)

In [712]:
wag_param[wag_param['cnsi_probeg_kr'] == 0]

,wagnum,model,rod_id,gruz,cnsi_gruz_capacity,cnsi_volumek,tara,date_build,srok_sl,zavod_build,date_iskl,cnsi_probeg_dr,cnsi_probeg_kr,kuzov,telega,tormoz,tipvozd,tippogl,norma_km
921,27799,12-600-08,1,696,696,76.0,232,717984000,1742774400,5,1,160,0,2,9,3,6,0.655935,160000
1391,27897,12-600-08,1,696,696,76.0,238,743990400,1735948800,5,1,160,0,2,9,2,6,0.655935,160000
3311,27926,12-600-08,1,696,696,76.0,232,714355200,1766620800,5,1,160,0,2,9,2,4,0.655935,160000
4957,27797,12-600-08,1,696,696,76.0,235,777859200,1780704000,5,1,160,0,2,9,3,6,0.655935,160000
5433,27889,12-600-08,1,696,696,76.0,235,741484800,1763856000,5,1,160,0,2,9,3,6,0.655935,160000
5729,28319,12-600-08,1,696,696,76.0,239,793670400,1709942400,5,1,160,0,2,9,2,6,0.655935,160000
6125,27711,12-600-08,1,696,696,76.0,239,736300800,1734048000,5,1,160,0,2,9,3,4,0.655935,160000
7285,28377,12-600-08,1,696,696,76.0,235,749692800,1735430400,5,1,160,0,2,9,3,6,0.655935,160000
8306,27731,12-600-08,1,696,696,76.0,235,681955200,1767398400,5,1,160,0,2,9,2,6,0.655935,160000
8591,27898,12-600-08,1,696,696,76.0,243,678844800,1771286400,5,1,160,0,2,9,2,4,0.655935,160000
8663,28211,12-600-08,1,696,696,76.0,232,694310400,1738022400,5,1,160,0,2,9,3,6,0.655935,160000
10217,28174,12-600-08,1,696,696,76.0,235,748915200,1721606400,5,1,160,0,2,9,2,6,0.655935,160000
11067,28183,12-600-08,1,696,696,76.0,232,702518400,1739318400,5,1,160,0,2,9,2,6,0.655935,160000
11167,28372,12-600-08,1,696,696,76.0,239,706233600,1797120000,5,1,160,0,2,9,2,4,0.655935,160000
12352,27894,12-600-08,1,696,696,76.0,235,718848000,1770940800,5,1,160,0,2,9,2,6,0.655935,160000
13777,28378,12-600-08,1,696,696,76.0,239,753321600,1736380800,5,1,160,0,2,9,2,6,0.655935,110000
14157,27712,12-600-08,1,696,696,76.0,239,773625600,1820880000,5,1,160,0,2,9,3,6,0.655935,160000
15303,28256,12-600-08,1,696,696,76.0,232,713232000,1778544000,5,1,160,0,2,9,3,6,0.655935,160000
15308,27710,12-600-08,1,696,696,76.0,235,689040000,1772841600,5,1,160,0,2,9,2,6,0.655935,110000
16817,27890,12-600-08,1,696,696,76.0,235,737510400,1750291200,5,1,160,0,2,9,2,6,0.655935,160000
16896,27892,12-600-08,1,696,696,76.0,232,725932800,1802563200,5,1,160,0,2,9,2,4,0.655935,160000
17684,28391,12-600-08,1,696,696,76.0,239,743731200,1787529600,5,1,160,0,2,9,3,4,0.655935,160000
19262,28390,12-600-08,1,696,696,76.0,239,772761600,1778803200,5,1,160,0,2,9,2,6,0.655935,160000
20311,27701,12-600-08,1,696,696,76.0,239,693964800,1742342400,5,1,160,0,2,9,2,4,0.655935,160000
20369,27930,12-600-08,1,696,696,76.0,239,656899200,1717891200,5,1,160,0,2,9,2,6,0.655935,160000
21027,28171,12-600-08,1,696,696,76.0,232,687830400,1719100800,5,1,160,0,2,9,2,6,0.655935,110000
21950,27857,12-600-08,1,696,696,76.0,235,681696000,1747267200,5,1,160,0,2,9,2,6,0.655935,110000
22397,27702,12-600-08,1,696,696,76.0,239,722217600,1745020800,5,1,160,0,2,9,2,6,0.655935,160000
22571,27928,12-600-08,1,696,696,76.0,235,658368000,1725580800,5,1,160,0,2,9,2,6,0.655935,160000
23414,28347,12-600-08,1,696,696,76.0,238,685065600,1754524800,5,1,160,0,2,9,2,6,0.655935,160000
25409,27730,12-600-08,1,696,696,76.0,232,753235200,1829088000,5,1,160,0,2,9,2,6,0.655935,160000
25542,28198,12-600-08,1,696,696,76.0,232,757468800,1736467200,5,1,160,0,2,9,3,6,0.655935,160000
26153,28210,12-600-08,1,696,696,76.0,238,780278400,1783555200,5,1,160,0,2,9,3,6,0.655935,160000
27219,27951,12-600-08,1,696,696,76.0,235,717897600,1789084800,5,1,160,0,2,9,2,6,0.655935,160000
27460,28265,12-600-08,1,696,696,76.0,235,712972800,1757980800,5,1,160,0,2,9,2,6,0.655935,160000
27827,28246,12-600-08,1,696,696,76.0,235,738201600,1746230400,5,1,160,0,2,9,2,6,0.655935,160000
29047,28247,12-600-08,1,696,696,76.0,232,725760000,1787702400,5,1,160,0,2,9,2,6,0.655935,160000

In [713]:
print(wag_param['kuzov'].value_counts())
# kuzov_frequency_map = wag_param['kuzov'].value_counts(normalize=True).to_dict()
# wag_param['kuzov'] = wag_param['kuzov'].map(kuzov_frequency_map)
# print(wag_param['kuzov'].value_counts())
print(wag_param['kuzov'].value_counts())
wag_param['kuzov'] = wag_param['kuzov'].astype(str)

kuzov
2     27403
22     4927
43     1645
1         2
Name: count, dtype: Int64
kuzov
2     27403
22     4927
43     1645
1         2
Name: count, dtype: Int64

In [714]:
print(wag_param['telega'].value_counts())

print(wag_param['telega'].value_counts())
wag_param['telega'] = wag_param['telega'].astype(str)

# ohe_telega = pd.get_dummies(wag_param['telega'], prefix='telega')
# wag_param = wag_param.drop(['telega'], axis=1)
# wag_param = pd.concat([wag_param, ohe_telega], axis=1)

telega
9     26994
2      5279
27      950
11      754
Name: count, dtype: Int64
telega
9     26994
2      5279
27      950
11      754
Name: count, dtype: Int64

In [715]:
wag_param.columns

Index(['wagnum', 'model', 'rod_id', 'gruz', 'cnsi_gruz_capacity',
       'cnsi_volumek', 'tara', 'date_build', 'srok_sl', 'zavod_build',
       'date_iskl', 'cnsi_probeg_dr', 'cnsi_probeg_kr', 'kuzov', 'telega',
       'tormoz', 'tipvozd', 'tippogl', 'norma_km'],
      dtype='object')

In [716]:
print(wag_param['tormoz'].value_counts())
wag_param['tormoz'] = wag_param['tormoz'].astype(str)

tormoz
2    27567
3     6393
1       17
Name: count, dtype: Int64

In [717]:
print(wag_param['tormoz'].value_counts())
wag_param['tormoz'] = wag_param['tormoz'].astype(str)

tormoz
2    27567
3     6393
1       17
Name: count, dtype: int64

In [718]:
print(wag_param['tipvozd'].value_counts())
wag_param['tipvozd'] = wag_param['tipvozd'].astype(str)

tipvozd
7     17047
1      7929
4      2984
6      2308
19     1362
16     1148
10      636
8       462
3        68
21       30
2         2
9         1
Name: count, dtype: Int64

In [719]:
print(wag_param['norma_km'].value_counts())

norma_km
160000    31291
350000      753
0           749
110000      642
500000      490
210000       50
250000        1
320000        1
Name: count, dtype: Int64

In [720]:
wag_param

,wagnum,model,rod_id,gruz,cnsi_gruz_capacity,cnsi_volumek,tara,date_build,srok_sl,zavod_build,date_iskl,cnsi_probeg_dr,cnsi_probeg_kr,kuzov,telega,tormoz,tipvozd,tippogl,norma_km
3218,26318,12-600-04,1,682,682,85.0,240,725241600,1651017600,5,0,160,160,2,9,3,6,0.655935,110000
19128,28344,12-132,1,700,700,88.0,240,1060646400,1734998400,0,0,110,160,2,9,2,1,0.144643,0
21526,8099,11-286,0,670,670,138.0,270,809827200,1822348800,1,1,110,160,2,9,2,1,0.057668,160000
32353,33350,12-9850-02,1,750,750,90.0,248,1414368000,2432937600,19,1,250,500,2,11,2,7,0.144643,250000
81,5308,11-276,0,680,680,122.0,260,811296000,1822089600,1,1,110,160,2,9,2,1,0.655935,160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33703,18766,11-280,0,680,680,138.0,259,1357516800,2405116800,1,1,110,160,2,9,2,7,0.144643,160000
33704,18769,11-280,0,680,680,138.0,259,1358467200,2402179200,1,1,110,160,2,9,2,7,0.144643,160000
33705,18899,11-280,0,680,680,138.0,260,1374624000,2340576000,1,1,110,160,2,9,2,7,0.655935,160000
33706,18912,11-280,0,680,680,138.0,259,1425081600,2353881600,1,1,110,160,2,9,2,7,0.655935,160000
33707,18914,11-280,0,680,680,138.0,259,1371340800,2414102400,1,1,110,160,2,9,2,7,0.655935,160000

In [721]:
wag_param.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33977 entries, 3218 to 33707
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wagnum              33977 non-null  Int64
 1   model               33977 non-null  string
 2   rod_id              33977 non-null  Int64
 3   gruz                33977 non-null  Int64
 4   cnsi_gruz_capacity  33977 non-null  Int64
 5   cnsi_volumek        33977 non-null  Float64
 6   tara                33977 non-null  Int64
 7   date_build          33977 non-null  int64
 8   srok_sl             33977 non-null  int64
 9   zavod_build         33977 non-null  object
 10  date_iskl           33977 non-null  object
 11  cnsi_probeg_dr      33977 non-null  Int64
 12  cnsi_probeg_kr      33977 non-null  Int64
 13  kuzov               33977 non-null  object
 14  telega              33977 non-null  object
 15  tormoz              33977 non-null  object
 16  tipvozd             33977 non-null  object
 17  tippogl             33977 non-null  float64
 18  norma_km            33977 non-null  Int64
dtypes: Float64(1), Int64(8), float64(1), int64(2), object(6), string(1)
memory usage: 5.5+ MB

In [654]:
wag_param.to_csv('../preprocessed/wag_param.csv')